<!DOCTYPE html>
<html>
  <head>
    <title>Technology News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" type="text/css" href="/css/app.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
      /* TODO */
    </style>
  </head>

  <body>
    <div class="app-page" data-page="home">
        <div class="app-topbar blue">
            <div class="app-title">Latest Technology News</div>
        </div>
        <div class="app-content">
            <!-- <div class="loader hidden"><i class="fa fa-spinner fa-spin fa-3x"></i></div> -->
            <div class="results-placeholder">
                <div class="placeholder search"><span></span>Loading.... Hang On!!!</div>
            </div>

            <div class="app-section hidden result-section">
                <div class="no-results-found hidden">
                    <p> No Results Found </p>
                </div>
                <ul class="app-list articles-results">
                    <li class="article">
                        <div class="result-image">
                            <img src="" class="img-thumb" style="display:none;">
                        </div>
                        <div class="result-content">
                            <p class="article-title"></p>
                            <p class="article-description"></p>
                            <p class="article-published-at" style="font-size: 0.8em;"></p>
                            <a href="" class="article-url" target="_blank">Read more.. </a>
                        </div>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/zepto.js"></script>
    <script type="text/javascript" src="/js/app.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>